doctype

html
  head(lang= head.lang)
    meta(charset='utf-8')

    title= head.title
    meta(name='description', content= head.description)

    link(rel='icon', href= head.favicon)

    // ogp
    meta(property='og:title', content= head.ogp.title || head.title)
    meta(property='og:description', content= head.ogp.description || head.description)
    meta(property='og:site_name', content= head.ogp.site_name)
    meta(property='og:type', content= head.ogp.type)
    meta(property='og:image', content= head.ogp.image)

    meta(name="viewport", content="width=device-width,height=device-height,user-scalable=no,initial-scale=1,maximum-scale=1,viewport-fit=cover")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="default")
    meta(name="apple-mobile-web-app-title" content= head.title)
    //- meta(name="twitter:card" content="summary_large_image")

    // styles
    link(rel="stylesheet", href="/icons/icons.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.12/meltline.css")
    | !{spat.styles()}
  body
    // content
    | !{spat.content()}
    // scripts
    | !{spat.scripts()}
